<!DOCTYPE html>
<html>
<head>
	<title>Master Planner -- Sign up</title>
	<link rel="stylesheet" type="text/css" href="../../static/todo/style.css">
</head>

<body>
	<div class="header">REGISTER</div>

	<form>
		<input type="text" class="input_data name_input" placeholder="First Name"> 
		<input type="text" class="input_data name_input" placeholder="Last Name"> <br>
		<input type="text" class="input_data" placeholder="Email ID"> <br>
		<input type="text" class="input_data" placeholder="Password"> <br>
		<input type="text" class="input_data" placeholder="Retype Password"> <br>
		<button> Signup </button>
	</form>
</body>

</html>